@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /* background-color: white; */
  background-color: #fcfcff;
  color: black;
  font-family: 'Gabarito', cursive;
  /* background: url('../assets/bg1.jpg') 0 0 no-repeat;
  background-size: cover;
  background-color: ; */
}

.hero {
  /* margin-top: 40px; */
  /* color: ; */
  /* background: url('../assets/hero-bg.gif') 0 0 no-repeat;
  background: url('../assets/mask2.png') 0 0 no-repeat;
  background: url('../assets/bg1.jpg') 0 0 no-repeat;
  background-size: cover; */
  /* background-position: 20vw 20vh; */
  /* background-position-x: 50vw; */
  /* background-size: contain; */
  /* transform: rotate(20deg); */
}

.mask {
  align-items: center;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-mask-image: url('../assets/mask.png');
  mask-image: url('../assets/mask.png');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 40%;
  mask-size: 40%;
  -webkit-mask-position: 50px 0px;
  mask-position: 50px 0px;
  background-color: rgb(31, 180, 176);
  /* background-color: rgb(80, 132, 168); */
  /* background: url('../assets/'); */
}

.maskNav {
  align-items: center;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-mask-image: url('../assets/mask.png');
  mask-image: url('../assets/mask.png');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 50%;
  mask-size: 50%;
  -webkit-mask-position: 50px 0px;
  mask-position: 50px 0px;
  background-color: rgb(31, 180, 176);
  /* background-color: rgb(80, 132, 168); */
  /* background: url('../assets/'); */
}